.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  margin-top:1.5rem ;
  h1 { font-weight: 600; color: #0f172a; }
}

.kpi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.kpi-card {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 1rem;
  border-radius: 12px;
  transition: 0.3s;
  .kpi-icon { font-size: 36px; margin-right: 1rem; }
  .kpi-info .kpi-title { font-weight: 600; font-size: 1rem; opacity: 0.9; }
  .kpi-info .kpi-value { font-size: 1.3rem; font-weight: bold; }
}
.grad-blue { background: linear-gradient(135deg, #3b82f6, #2563eb); }
.grad-yellow { background: linear-gradient(135deg, #facc15, #eab308); color: #1e1e1e; }
.grad-green { background: linear-gradient(135deg, #22c55e, #16a34a); }
.grad-orange { background: linear-gradient(135deg, #fb923c, #f97316); }
.grad-red { background: linear-gradient(135deg, #ef4444, #b91c1c); }
.grad-purple { background: linear-gradient(135deg, #8b5cf6, #6d28d9); }

.chart-card, .map-card, .alert-card {
  margin-bottom: 1.5rem;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

#map {
  height: 450px;
  border-radius: 12px;
}

.alert-badge {
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
  font-weight: 600;
  &.High { background: #fee2e2; color: #b91c1c; }
  &.Medium { background: #fef3c7; color: #92400e; }
  &.Low { background: #dcfce7; color: #166534; }
}
